.pltfrm{
  .card{
    padding: 1rem;
    margin: 0.4rem 0;
    border-radius: 1rem;
    background-color: $primary-color-light;
  }
  pre{ //Revisar en dispositivos pequeños
    min-height: 2.5rem;
    overflow: auto;
    display: inline-block;
    padding: 0.8rem;
    margin: 0.8rem auto;
    background-color: $primary-color;
    border: 1px solid $primary-color-dark;
    border-radius: 4rem;;
  }
}
