.pltfrm{
  form{
    label{
      font-weight: 600;
    }
    input, textarea{
      padding: .8rem;
      margin-top: .4rem;
      background-color: $primary-color;
      border: 0;
      transition: box-shadow .2s;
      &:focus{
        outline: 0;
        box-shadow: 0 1px 1px $primary-color-dark, 0 -1px 1px $primary-color-dark;
      }
      &:hover{
        box-shadow: 0 1px 1px $primary-color-dark, 0 -1px 1px $primary-color-dark;
      }
    }
    [type="text"],
    [type="password"],
    [type="email"],
    [type="number"],
    [type="date"],
    [type="time"],
    [type="datetime"],
    [type="datetime-local"],
    [type="month"],
    [type="week"],
    [type="search"],
    [type="range"],
    [type="tel"],
    [type="url"]{
      min-width: 100%; //Recomended for accesibility
      max-width: 100%;
      height: 2rem;
      border-radius: 4rem;
    }
    [type="checkbox"]{
      float: left;
      width: .8rem;
      height: .8rem;
      margin-right: 10px;
    }
    [type="file"]{
      min-width: 100%;
      max-width: 100%;
      min-height: 50px;
      max-height: 200px;
    }
    [type="image"]{
      min-width: 100%;
      max-width: 100%;
      background-color: $primary-color;
    }
    textarea{
      min-width: 100%; //Recomended for accesibility
      max-width: 100%;
      min-height: 150px;
      max-height: 75vh;
      overflow: unset;
      border-radius: 1em;
    }
    button{
      padding: 1rem;
      background-color: $secondary-color;
      border: 0;
      border-radius: 3em;
      color:white;
      cursor: pointer;
      transition: background-color 0.1s;
      &:hover{
        color: black;
      }
      &:focus{
        background-color: $secondary-color-light;
        outline: 0;
      }
    }
  }
}
